@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

:root {
  --primary-color: #01d293;
  --secondary-color: #181b3a;
  --body-bg: #0b0c28;
  --card-01-bg: linear-gradient(#ef621c, #e1424e);
  --card-02-bg: linear-gradient(#01d293, #56c57a);
  --card-03-bg: #725cff;
  --card-04-bg: #2884ff;
  --heading-color: #fff;
  --small-text-color: #808191;
  --recommend-car01-bg: #e1dfa4;
  --recommend-car02-bg: #e3ecf1;
  --recommend-car03-bg: #f4e3e5;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "DM Sans", sans-serif;
  background: rgb(249 250 251 /1);
}

/* ----- -----------------style for scrollbar----------------*/
::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background: rgb(172, 172, 194);
  border-radius: 10px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: unset;
}

.main__layout {
  margin-left: 230px;
}

.main__layout2 {
  margin-left: 50px;
}

input {
  background: "rgb(243 244 246/1)";
}

img {
  width: 100%;
}

.dasbord_laout {
  margin-top: 100px;
  margin-left: 20px;
  padding: 0px 30px;
  padding-bottom: 50px;
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 880px) {
  .main__layout2 {
    margin-left: 45px;
  }
  .dasbord_laout {
    padding: 0px 10px;
  }
}

/* --------------------ant table pagination---------------- */

.ant-pagination-next {
  margin-right: 22px !important;
}

/* .ant-pagination-prev {
  border-radius: 8px !important;
  padding: 0px 6px !important;
  background-color: #dfdfe046;

} */

.ant-pagination-item-link {
  color: #fff !important;
}

.ant-pagination-item-link:disabled {
  color: rgba(157, 158, 163, 0.8) !important;
}

/* .ant-pagination-next {
  border-radius: 8px !important;
  margin-left: 8px !important;
  padding: 0px 6px !important;
  background-color: #dfdfe046;
}


.ant-pagination-item {
  border-radius: 8px !important;
  margin: 0px !important;

} */

.ant-pagination-item a {
  color: #fff !important;
}

.ant-pagination-item-active {
  background-color: #01d293 !important;
  border: 1px solid #654dff00 !important;
  color: #fff !important;
}

.ant-pagination-item-active a {
  color: #fff !important;
  font-size: 13px !important;
  font-weight: bold !important;
}
